/*@font-face {
    font-family: "dtm-sans";
    src: url("font/DTM-Sans.otf") format("opentype");
}*/

body {
    /*background-color: #DCE602;*/
    font-family: Rockwell, serif;
    overflow-x: hidden;
    /*color: white;*/
}

.title {
    text-align: center;
}
/*#file-upload {
    color: white;
}

.form-control-file {
    color: white;
}*/

.jumbotron {
    /*background-color: #DCE6F2;*/
    text-align: center;
}
/*#counter {
    margin-left: -25px;
    margin-top: 10px;
}

#counter ul {
    list-style-type: none;
}*/


.btn-lg {
    font-size: 34px;
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
   background-color: #A6B6CB;
}

/*.queueForm {
    margin-top: 10%;
}

.startQueueBtn {
    margin-top: 20px;
}*/

footer {
    /*font-family: "dtm-sans";*/
    margin-top: 50px;
}

th {
    /*text-align: center;*/
}

.centerText {
    text-align: center;
}

.clearLinks {
    list-style-type: none;
}
